* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4D515D;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 980px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.left {
  width: 610px;
  padding-top: 75px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 50px;
} 

.header {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 400;
} 

.text {
  color: #B5B1AE;
  font-size: 12px;
  margin-bottom: 60px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #F1F2F5;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #969A9E;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  transition: all 0.5s ease;
}

.link:hover {
  color: #000;
  box-shadow: 0 3px 8px 3px rgb(204, 204, 204);
}

.line {
  background-color: #F1F2F5;
  height: 1px;
  margin-top: 60px;
  margin-left: -50px;
  margin-right: -50px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.bottom .text-left {
  font-size: 12px;
}

.bottom .bottom-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #969A9E;
  font-weight: 700;
  transition: all 0.5s ease;
}

.bottom .bottom-link:hover {
  color: #000;
}